body {
    background-color: rgb(29, 28, 28);
}

h1 {
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    color: white;
    margin-top: 5em;
    text-align: center;
}

h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}